.App {
  text-align: center;
  background-size: cover;
}

button{
  font-family: 'Poppins' , sans-serif;
}

header{
  display: flex ;
  width:100%;
}

.logo{
  font-weight: 400;
  margin:5px;
}
.logo-container{
  flex: 1;
}
.nav-link{
  color: #011c39;
  font-size: 18px;
  text-decoration: none;
  margin: 0 5px;
}

.cart{
  flex: 1;
  justify-content: flex-end;
}

.links {
  margin: 0 10px;
  width: 25px;
  height: 30%;
  padding: 5px;
}

.links:hover {
  color: black;
}

.white{
  color: white;
}
/* 
==========================
-- NAVBAR FROM HERE -- 
==========================
*/
.navBarOpacity {
  background-color:rgba(2, 0, 0, 0.15);
  box-shadow: 0px 0px 15px black;
  justify-content: space-around;
  list-style: none;
  flex: 1;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.navColor{
  width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    
    justify-content: space-around; 
}

/* add notes page */
.bodyFormat {
  margin-top: 2em;
  margin-left: 6em;
  margin-right: 6em;
  box-shadow: 0px 0px 25px #8e44ad;
  border-radius: 30px;
  background-color: #2980b9;
  line-height: 1.8;
}
/* add notes page */
.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageFormat {
  height: 600px;
  width: 90%;
  border-radius: 30px;
  margin: 2em;
}

.slideshowFormat {
  border-radius: 30px;
  margin: 2em;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 
======================
-- LOGIN FROM HERE -- 
======================
*/
.handwritting {
  font-family: Cursive;
  font-size: 60px;
}

body{
  font-family: 'Poppins' , sans-serif;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  width: 205vh;
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.login h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver
}

.loginContainer{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px ;
}

.loginContainer input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.loginContainer label{
  position: absolute;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.question{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

.questionLink{
  color: #2691d9;
  cursor: pointer;
}

/* 
==========================
-- HOMESCREEN FROM HERE -- 
==========================
*/

.presentation{
  margin: auto;
  min-height: 80px;
  align-items: center;
}

.covidpageStyle{
  margin: auto;
  min-height: 80px;
  align-items: center;
  display:flex;
  width:90%;
}


.introduction{
  flex:0.5; 
}

.intro-text h1 {
font-size: 40px;
font-weight:  500;
}

.intro-text p{
  margin-top: 5px;
  font-size: 22px;
  color: #f0f0f1;
}

/* for animated images */
.cover{
  flex: 1;
  display:flex;
  height: 60vh;
  justify-content:center;
}

.cover img{
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
/* 
==========================
        -- Buttons -- 
==========================
*/

.cta{
  padding: 50px 0px 0px 0px;
}

.cta-select{
  border: 2px solid #2691d9;
  background: transparent;
  color: #2691d9;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add{
  border: none;
  background: #2691d9;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}


/* 
==========================
-- TWEETPAGE FROM HERE -- 
==========================
*/
.tweetboxes{
  
  padding: 100px;
  
  }
/* 
==========================
        -- ANIMATION -- 
==========================
*/
  
@keyframes drop{
  0%{
      opacity: 0;
      transform: translateY(-80px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}
/* 
==========================
 -- PHONE VIEW RESIZING -- 
==========================
*/
@media screen and (max-width: 1024px){
  .presentation {
      flex-direction: column;
  }
  .introduction{
      margin-top:5vh;
      text-align: center;
  }
  .intro-text h1{
      font-size: 30px;
  }
  .intro-text p {
      font-size: 18px;
  }
  .cta{
      padding: 10px 0px 0px 0px;
  }
  .cover img {
      height: 60%;
  }
  
  .footer-right > *{
    flex: 1;
  }

  .footer-left > *{
    flex: 1 0px;
  }

  .footer-right > *{
    flex: 2 0px;
  }
}

.imageLeft {
  width: 500px;
  height: 500px;
  object-fit: none;
  object-position: left middle;
  }

.imageRight {
  width: 1100px;
  height: 1000px;
  object-fit: none;
  object-position: right;
  }

.imageBottom {
  width: 1800px;
  height: 150px;
  size: 500px;
  object-fit: none;
  object-position: bottom;
  }

.imageTop {
  width: 1800px;
  height: 800px;
  object-fit: none;
  object-position: top ;
  }

  .heading {
    text-align: center;
    font-size: 70px;
  }
  
  .centerText {
    text-align: center;
  }

  .leftText {
    text-align: left;
  }

  .centerTitleHomeText {
    text-align: center;
    color: black;
  }

  .centerTextwhite {
    text-align: center;
    color: white;
  }