.App {
  text-align: center;
  background-image: url("assets/background.jpg");
  background-repeat: repeat-y;
  color:white;
  min-height: 100vh;
  align-items: flex-start
}

.navBarOpacity {
  background-color:rgba(255, 0, 0, 0.15);
  box-shadow: 0px 0px 15px red;
}

.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageFormat {
  height: 600px;
  width: 90%;
  border-radius: 30px;
  margin: 2em;
}

.slideshowFormat {
  border-radius: 30px;
  margin: 2em;
}

.bodyFormat {
  margin-top: 2em;
  margin-left: 6em;
  margin-right: 6em;
  box-shadow: 0px 0px 25px red;
  border-radius: 30px;
  background-color:rgba(255, 0, 0, 0.15);
  line-height: 1.8;
}

